.city-gallery {
    display: flex;
    column-gap: 2em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 20px;
}

.city-gallery__button {
    width: 30px;
    height: 30px;
    align-self: center;
}

.city-gallery__item {
    flex: 1 1 0;
}