.city-gallery {
    container-type: inline-size;
    container-name: city-gallery;
    padding-top: 5em;
    padding-bottom: 5em;
}

.gallery {

    display: flex;
    justify-content: space-between;
    column-gap: 2em;
    padding: 1em;
}

.gallery__cards {
    flex-grow: 1;
    
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 2em;
}

.gallery__card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    max-width: 250px;
}