.card-city {
    aspect-ratio: 2 / 3;

    border-radius: 20px;
    box-shadow: 0px -5px 10px 1px rgba(255,255,255,0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 1em;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.card-city__name {
    font-size: 1.2rem;
}

.card-city__temp {
    font-size: 2.5rem;
    position: relative;
}

.card-city__temp::after {
    position: absolute;
    content: "\00b0";
}

.card-city__tempextremas {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.card-city__tempextrema {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tempextrema__val {
    font-size: 1.5rem;
}

.tempextrema__text {
    font-size: .7rem;
}

.tempextrema__text.tempextrema--max {
    color: hsl(0,78%,47%);
}

.tempextrema__icon.tempextrema--max {
    filter: invert(17%) sepia(73%) saturate(5462%) hue-rotate(356deg) brightness(89%) contrast(88%);
}

.tempextrema__icon.tempextrema--min {
    filter: invert(51%) sepia(100%) saturate(367%) hue-rotate(77deg) brightness(94%) contrast(94%);
}
.tempextrema__text.tempextrema--min {
    color: hsl(128,62%,45%);
}

.card-city__weather {
    font-size: 0.8rem;
}

.card-city__icon {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.9);    
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.card-city__btndelete {
    margin-top: 1em;
    background-color: transparent;
    width: min-content;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    
}

.card-city__btndelete:hover {
    font-size: 1.5rem;
    aspect-ratio: 1 / 1;
    color: red;
    box-shadow: 0px 0px 3px red;
}



.card-city.theme-dark {
    background: linear-gradient(hsl(286,67%,32%),hsl(240,89%,25%));
    color: white;
}

