.popup-search-container {
    container-type: inline-size;
    container-name: popup-search-container;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

.popup-search {
    border-radius: 20px;
    background-color: white;
    padding: 1em;
    display: grid;
}

.popup-search__form {
    display: grid;
}

.popup-search__form__item {
    border: none;
    padding: 1em;
}

.popup-search__form__button {
    cursor: pointer;
    background-color: rgb(84, 82, 216);
}

.popup-search__results {
    text-align: left;
}

.popup-search__results__item {
    margin-bottom: .5em;
}

.popup-search__results__item:hover {
    background-color: purple;
    /* border-radius: 5px; */
    cursor: pointer;
    opacity: 1;
}

.form-error {
    color: red;
}



@container popup-search-container (max-width: 400px) {

    .popup-search__form__search-input-label {
        padding-left: 0;
    }

    .popup-search__form__search-input {
        border: 1px solid black;
        border-radius: 5px;
    }

    .popup-search__form__search-input-label {
        text-align: left;
    }

    .popup-search__form__button {
        border-radius: 5px;
    }

    .popup-search__form {
        gap: 0.5em;
    }
}

@container popup-search-container (min-width: 401px) {
    
    .popup-search__results--container,
    .popup-search__form {
        align-items: stretch;
        display: grid;
        grid-template-columns: 1fr 12fr 1fr;
    }

    .popup-search__results {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}